/* Imports */
:root {
  --primary: #6843ff;
  --primary-light: #7e5fff;
  --violet-light: #8492fd;
  --secondary: #101010;
  --info-side-background: #ad4ef5;
}

body {
  font-size: 16px;
  background: var(--info-side-background);
  font-family: Mulish, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.socialsRow {
  display: flex;
  gap: 16px;
}

.socialsRow img {
  width: 24px;
  height: 24px;
}

.socialsRow > a {
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  min-height: 30px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 1rem;
  color: #323760;
  border: 1px solid var(--primary-light);
  font-weight: 700;
}

.socialsRow > a:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.divider {
  display: flex;
  flex-direction: row;
  color: var(--secondary);
  gap: 16px;
  align-items: center;
}

.dividerLine {
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
  opacity: 0.2;
}

.formWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 2fr;
  max-width: 1200px;
}

.formSide {
  padding: 186px 32px 48px 32px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: white;
}

.infoSide {
  height: 100vh;
  padding: 248px 12px 8px 12px;
  color: #40183d;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(
    92.15deg,
    var(--violet-light) 30.13%,
    var(--info-side-background) 95.43%
  );
}

.textField box-icon {
  position: absolute;
  right: -2px;
  bottom: -4px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.textField input:focus + box-icon {
  stroke: var(--primary);
}

.textField label {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  z-index: 10;
}

@media (max-width: 840px) {
  .formWrapper {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .infoSide {
    display: none;
    padding: 48px 48px 48px 32px;
  }
}

.logo {
  display: block;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.myForm {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 16px;
  max-width: 460px;
  min-width: 300px;
  width: 100%;
  padding: 48px 32px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 3vh;
}

.formWelcomeRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.formWelcomeRow h1 {
  font-size: 1.6rem;
}

.myFormButton {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  line-height: 50px;
  outline: none;
  font-size: 15px;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.myFormActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--secondary);
  gap: 16px;
  margin-top: 8px;
}

.myFormActions a {
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.myFormActions a:first-child {
  text-align: left;
}

.myFormActions a:last-child {
  text-align: right;
}

.myFormActions a:hover {
  text-decoration: underline;
}

.myFormRow {
  display: flex;
  justify-content: space-between;
}

.textField input {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  height: 50px;
  letter-spacing: 0.03rem;
  border: 1px solid var(--secondary);
  background-color: transparent;
  outline: none;
  transition: 0.25s;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 4px;
  border-color: darkgrey;
}

.textField label:focus-within {
  color: var(--primary);
}

.textField {
  position: relative;
}
